*{
    box-sizing: border-box;
}
.container{
    position: relative;
    margin-left: 30%;
    padding: 20px 50px;

}
input{
    width: 55%;
    line-height: 100px;
    font-size: 30px;
}
.btn{
    margin: auto;
}

.btn button{
    width: 30%;
    height: 80px;
    line-height: 20px;
    font-size: 20px;
    background-color: chartreuse;
    border: none;
    margin-top: 0.5em;
}
.btn button:hover{
    background-color: darkgray;
}
.col.numb{
    float: left;
    width: 40%;
}
.col.oper{
    float: left;
    width: 60%;
}
.oper button{
    width: 25%;
}
.full{
    width: 55%;
    height: 50px;
    line-height: 20px;
    font-size: 20px;
    background-color: chartreuse;
    border: none;
    margin-top: 0.5em;
}
.full:hover{
    background-color: darkgray;
}
