.container{
    position: relative;
    

}
input{
    width: 50%;
    line-height: 50px;
    font-size: 30px;
    vertical-align: middle;
}
.btn{
    margin: auto;
}
.col-1{
    display: inline-block;
    margin-right: 10px;
}

.col-2{
    position: absolute;

}

.btn button{
    width: 15%;
    height: 50px;
    line-height: 20px;
    font-size: 20px;
    background-color: chartreuse;
    border: none;
    margin-top: 0.5em;
}
.btn button:hover{
    background-color: darkgray;
}